.card {
    margin: 20px;   
}


.row {
    margin:auto;
    max-width: 1000px;
}

body {
    background-image: url("../img/marvelBackground\ \(1\).gif");
}

h1 {
    margin:auto;
    max-width: 950px;
    color: blanchedalmond;
}